* {
  color: rgb(220, 218, 218);
}



body {
  margin: 0;
  min-height: 100vh;
  /* Created with https://www.css-gradient.com */
  background: #67a2b3;
  background: -webkit-linear-gradient(top left, #67a2b3, #1d7d5e);
  background: -moz-linear-gradient(top left, #67a2b3, #1d7d5e);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: grid;
  place-items: center;
}

.calculator {
  background-color: rgba(0, 0, 0, 0.104);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 0.75rem;
  max-width: 30rem;
  margin: 0 auto;
}

.calculator_display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0.5rem;
  background: rgba(6, 6, 6, 0.309);
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  height: 8rem;
  font-size: 5rem;
}

.previous-operand {
  color: grey;
  font-size: 35%;
}

.calculator_keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    ". . . ."
    "plus minus times divide"
    "seven eight nine equal"
    "four five six equal"
    "one two three equal"
    "zero decimal clear equal";
  background-color: rgba(5, 5, 5, 0.208);
  border-bottom-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.calculator_keys > button,
.calculator_display {
  border: none;
}

.calculator_keys > button {
  background: transparent;
  padding: 0.5em;
  font-size: 3em;
}

button.clear {
  color: rgb(224, 129, 135);
}

.calculator_keys > button:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.087);
}

.calculator_keys > button:active{
  background: rgba(0, 0, 0, 0.141);
}

.plus {
  grid-area: plus;
  border-top-left-radius: 0.3em;
}
.minus {
  grid-area: minus;
}
.times {
  grid-area: times;
}
.divide {
  grid-area: divide;
  border-top-right-radius: 0.3em;
}
.nine {
  grid-area: nine;
}
.eight {
  grid-area: eight;
}
.seven {
  grid-area: seven;
}

.six {
  grid-area: six;
}
.five {
  grid-area: five;
}
.four {
  grid-area: four;
}
.three {
  grid-area: three;
}
.two {
  grid-area: two;
}
.one {
  grid-area: one;
}
.zero {
  grid-area: zero;
  border-bottom-left-radius: 0.2em;
}
.decimal {
  grid-area: decimal;
}
.clear {
  grid-area: clear;
}
.equal {
  grid-area: equal;
  border-bottom-right-radius: 0.2em;
}

.shrink-60 {
  font-size: 60%;
}

.shrink-70 {
  font-size: 70%;
}
