* {
  box-sizing: border-box;
  color: rgb(220, 218, 218);
}

body {
  margin: 0;
  max-width: 100vw;
  height: 100vh;
  background: #8ac5c1;
  background: -webkit-linear-gradient(bottom left, #8ac5c1, #436579);
  background: -moz-linear-gradient(bottom left, #8ac5c1, #436579);
  background: linear-gradient(to top right, #8ac5c1, #436579);
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  margin: 0.45em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.104);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 0.75rem;
  height: auto;
}

.calculator_display {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0.5rem;
  background: rgba(6, 6, 6, 0.219);
  border-radius: .5rem;
}

.calculator_keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    ". . . ."
    "plus minus times divide"
    "seven eight nine equal"
    "four five six equal"
    "one two three equal"
    "zero decimal clear equal";
    background-color:rgba(5, 5, 5, 0.208);
    border-radius: 0.5rem;
}

.calculator_keys > button,
.calculator_display {
  font-size: clamp(1rem, 1rem + 12vw, 5rem);
  border: none;
}

.calculator_keys > button {
  background: transparent;
}

.plus {
  grid-area: plus;
  border-top-left-radius: 0.3em;
}
.minus {
  grid-area: minus;
}
.times {
  grid-area: times;
}
.divide {
  grid-area: divide;
  border-top-right-radius: 0.3em;
}
.nine {
  grid-area: nine;
}
.eight {
  grid-area: eight;
}
.seven {
  grid-area: seven;
}

.six {
  grid-area: six;
}
.five {
  grid-area: five;
}
.four {
  grid-area: four;
}
.three {
  grid-area: three;
}
.two {
  grid-area: two;
}
.one {
  grid-area: one;
}
.zero {
  grid-area: zero;
  border-bottom-left-radius: 0.2em;
}
.decimal {
  grid-area: decimal;
}
.clear {
  grid-area: clear;
}
.equal {
  grid-area: equal;
  border-bottom-right-radius: 0.2em;
}
